#page-search .section1 .search-bar {
    margin    : 2rem 0 0 0;
    text-align: center;
}

#page-search .section1 .search-bar img {
    height: 1rem;
}

#page-search .section1 .search-bar #___gcse_0{
    width : 35%;
    margin: 0 auto;
    font-size: calc(var(--font-size) * 0.75);
}

#page-search .section1 .search-bar .recommend {
    text-align: left;
    width     : 33%;
    border    : 1px solid black;
    margin    : 0 auto;
}

#page-search .section1 .search-bar .recommend:hover {
    background-color: #666;
}

#page-search .section1 .hits {
    margin: 1rem 5rem 0;
}

#page-search .section1 .hits span {
    display        : inline-block;
    margin         : 0 3% 0 0;
    text-decoration: underline;
}

#page-search .section1 .hits .title {
    /* color: red; */
    color: black;
}

#page-search .section2 .service-div {
    border   : 0.025rem solid #6e6e6e;
    min-width: 42%;
    float    : left;
    margin   : 1rem 2% 0 0;
}

#page-search .section2 .service-div .column {
    display       : flex;
    flex-direction: column;
    float         : left;
}

#page-search .section2 .service-div .column span {
    display    : block;
    font-size  : calc(var(--font-size) * 0.55);
    line-height: calc(var(--font-size) * 0.75);
    ;
}

#page-search .section2 .service-div .column span a {
    font-size: calc(var(--font-size) * 0.4);
}

/* s3 */
#page-search .section3 .service-div {
    min-width: 42%;
    float    : left;
    margin   : 1rem 2% 0 0;
}

#page-search .section3 .service-div .column {
    display       : flex;
    flex-direction: column;
    float         : left;
}

#page-search .section3 .service-div .column span {
    display    : block;
    font-size  : calc(var(--font-size) * 0.75);
    line-height: calc(var(--font-size) * 1);
}

#page-search .section3 .service-div .column span a {
    font-size: calc(var(--font-size) * 0.55);
}