#page-search .section1 .search-bar{
    margin: 2rem 0 0 0 ;
    text-align: center;
    height: 4rem;
}

#page-search .section1 .search-bar img{
    height: 1rem;
}

#page-search .section1 .hits {
    margin: 0 5rem;
}
#page-search .section1 .hits span{
    display: inline-block;
    margin: 0 3% 0 0;
    text-decoration: underline;
}

#page-search .section1 .hits .title{
    /* color: red; */
    color: black;
}

#page-search .section2 .service-div {
    border   : 0.025rem solid #6e6e6e;
    min-width: 42%;
    float    : left;
    margin   : 1rem 2% 0 0;
}

#page-search .section2 .service-div .column {
    display       : flex;
    flex-direction: column;
    float         : left;
}

#page-search .section2 .service-div .column span {
    display    : block;
    font-size  : calc(var(--font-size) * 0.55);
    line-height: calc(var(--font-size) * 0.75);
    ;
}

#page-search .section2 .service-div .column span a {
    font-size: calc(var(--font-size) * 0.4);
}

/* s3 */
#page-search .section3 .service-div {
    min-width: 42%;
    float    : left;
    margin   : 1rem 2% 0 0;
}

#page-search .section3 .service-div .column {
    display       : flex;
    flex-direction: column;
    float         : left;
}

#page-search .section3 .service-div .column span {
    display    : block;
    font-size  : calc(var(--font-size) * 0.75);
    line-height: calc(var(--font-size) * 1);
}

#page-search .section3 .service-div .column span a {
    font-size: calc(var(--font-size) * 0.55);
}